# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# SVN
.svn/

# PyCharm
.idea
.iml

# OSX
.DS_Store

# Database
*.sqlite

# Backup files
*.*~

# Test files
test*.*

# Log files
*.log